<div style="clear:both; margin-bottom:6px; border-top:2px solid #000; height:42px;">
	<div style="float:left; width:75%; clear:both;"><strong><{$campaign.name}></strong><br/><em><{$campaign.description}></em></div>
	<div style="float:right; width:23%; clear:none; margin-top:15px;"><center><a href="<{$xoops_url}>/modules/twitterbomb/backend.php?cid=<{$campaign.cid}>&catid=<{$campaign.catid}>"><img src="<{$xoops_url}>/modules/twitterbomb/images/rss.png"/></a> (<{$campaign.hits}>)</center></div>
</div>